<% layout('layouts/boilerplate') %>
<% const dayNames = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]; %>
<div class="card shadow py-3 px-3">
    <div class="card-header bg-white">
        <h4><%= event.name %> - Catering Choices</h4>
    </div>
    <div class="card-body">
        <% const catering = JSON.parse(JSON.stringify(event.catering)) %>
        <div class="row">
        <% for (var d = new Date(event.eventStart); d <= new Date(event.eventEnd); d.setDate(d.getDate() + 1)) { %>
            <div class="col text-center">
                <div class="lead"><%=  dayNames[new Date(d).getDay()] %></div>
                <% for (meal of Object.keys(catering?.menu[dayNames[new Date(d).getDay()]].meals)) { %>
                    <p class="mb-0 mt-3"><b><%= catering.menu.Saturday.meals[meal].name %></b></p>
                    <ul class="list-group list-group-flush">
                        <% for (option of catering.menu[dayNames[new Date(d).getDay()]].meals[meal].options){ %>
                            <li class="list-group-item" style="border-bottom:none"><%= option %></li>
                            <% } %>
                    </ul>
                <% } %>
            </div>
        <% } %>
        </div>
    </div>
</div>