<footer>
    <nav class="navbar navbar-dark bg-dark fixed-bottom">
        <div class="container">
          <a class="link-light" href="https://www.lorientrust.com">
            www.lorientrust.com
          </a>
        </div>
      </nav>
</footer>