<% layout('layouts/email') %>
<h2 align="center" style="margin-bottom:5;"><b>Password Reset</b> </h2>
<p style="margin-bottom:0;">Please use the link below to reset your password</p>
<a href="<%= rootUrl %>/resetpassword/<%= user.resetPassword %>">Password Reset</a>