<% layout('layouts/email') %>
<h2 align="center" style="margin-bottom:5;"><b>We look forward to your first booking!</b> </h2>
<p style="margin-bottom:0;">Welcome to the Lorien Trust Sanctioned Event website. Here you can find all the information you need for upcoming Sanctioned Events, as well as book to get involved!</p>