<% layout('layouts/email') %>
<h2 align="center" style="margin-bottom:5;"><b>We look forward to your first booking!</b> </h2>
<p style="margin-bottom:0;">Welcome to <%= config.siteName %>. Here you can find all the information you need for upcoming events, as well as all the information you need to book your tickets and get involved!</p>