<% layout('layouts/image') %>
<div id="cardLayout" style="width:1200px;height:630px" class="row bg-light">
    <div class="col-8 py-5 px-5">
        <h2 class="mt-5 ms-3 text-light">Blank Space!</h2>
        <h1 class="my-4 ms-3 display-4">LRPTickets.co.uk</h1>
        <h3 class="ms-3 text-muted">Event booking designed specially for</h3>
        <h3 class="ms-3 mb-5 text-muted">live role play events and their players</h3>

        <button class="btn btn-lg btn-dark px-5 ms-3 mt-5"><h2>Find Out More</h2></button>
    </div>
    <div style="height:630px" class="col py-5 my-5 px-4 align-middle">
        <img style="border-radius: 15px;transform:rotate(-30deg);margin-left:-300px;margin-top:90px !important;" class="my-5 position-absolute" src="https://res.cloudinary.com/dapc3dsxv/image/upload/c_fill,w_650/v1705959074/lrpEvents/gamjjtuuio6n3mclojiv.png" alt="">
    </div>
</div>