<div class="accordion-item">
    <h2 class="accordion-header" ">
        <button style="font-size:1.2rem !important; font-weight:500 !important;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionJadeThrone" aria-expanded="false" aria-controls="accordionJadeThrone">
      <img height="60px" src="<%= eventSystems.find(a => a.systemRef == 'jadeThrone').img.url %>" alt="Jade Throne">
    </button>
    </h2>
    <div id="accordionJadeThrone" class="accordion-collapse collapse" data-bs-parent="#systemSettings">
        <div class="card-header bg-white mt-3">
            <h6>Character Information</h6>
        </div>
        <div class="card-body">

        </div>
    </div>
</div>