<% layout('layouts/boilerplate') %>

<div class="row mb-3">
  <div class="d-none d-md-block col-4 my-auto">
    <figure class="text-center">
      <blockquote class="blockquote" style="color:#c2272d">
        <p class="fs-2">By Live Role Players,<br />For Live Role Players</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Almost Every LRP Organiser</cite>
      </figcaption>
    </figure>
  </div>
  <div class="col lead text-center border-start ps-4">
    <p>There is no denying that the root of Live Role Play is as a community hobby. Most trace back to university and gaming groups that wanted to branch away from the traditional table top gaming.</p>
    <p>In recent years that ideal has shifted slightly and now a large number of highly successful commercial event organisers make it difficult (not deliberately) for smaller systems to compete. So we wanted to bring back that age old mantra used by so many; <br /><i>"By Live Role Players, For Live Role Players"</i></p>
    <p>One of the largest hurdles faced by LRP Event Organisers is the logistics of getting attendees to their events. The myriad of complications from taking payments, and protecting your guests data have made running a Live Role Play event a minefield.</p>
  </div>
</div>
<div class="d-grid gap-2 mb-3 mt-5 mx-md-5">
  <a href="/organisers/register" class="mx-md-5 btn text-light" style="background-color: #c2272d; border-color: #c2272d;">
    <h3 class="mt-2">Click Here To Register Your Event System</h3>
  </a>
</div>
<div class="row py-4 mt-md-5">
  <div id="advertising" class="col text-center px-5">
    <div class="fs-2 text-center mb-3">
      Advertising
    </div>
    <p>Advertising your event to reach as many potential players as possible is difficult, and takes a lot of work.</p>
    <p>Here are some of the benefits we offer to advertise your event.</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="List your event on our front page, as well as having a dedicated event page to share your crucial information">Advertise your event <b>FOR FREE</b></li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Event dates, location, ticket prices, and contact details are always placed in the same place so players can find them easily">Highlight key event information</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Our website has been carefully designed to be just as functional on mobile as it is on a PC">PC & mobile friendly adverts</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Users have the option to sign up to updates about your systems events, automatically getting notified when new events are available">Automatic e-mail marketing</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="If you have your own Discord server, you can use Discord Webhooks to automatically share when your events are advertised">Automatic publishing via Discord Webhooks</li>
    </ul>
  </div>
  <div id="booking" class="col text-center px-5">
    <div class="fs-2 text-center mb-3">
      Booking
    </div>
    <p>Keeping track of your bookings, payments, and confirming receipt of those to your players is a huge logistical nightmare.</p>
    <p>These are some of the ways we take that pressure away.</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Registering by using their existing logins makes your players lives easier. We're always looking at other integrations to improve this further">Users can register by E-mail, Google, or Facebook Accounts</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Being able to book and pay for their events in one place will help give your players confidence in your system">Players can book and pay for your event online</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Having an easy log of who has booked and paid is a critical part of event logistics">View who has booked and paid at a glance</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Not everyone has access to the internet, so we've made it easy to add manual bookings for your players">Easily manage manual bookings and payments</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="You control when your tickets are on sale, and when they stop being available.">Fine control over booking deadlines</li>
    </ul>
  </div>
</div>
<hr class="text-muted">
<div class="row py-4 mt-3">
  <div id="finance-logistics" class="col text-center px-5">
    <div class="fs-2 text-center mb-3">
      Financial Logistics
    </div>
    <p>Site fees, insurance, PayPal fees, to name just a few! Managing the costs related to running an event can leave you buried in spreadsheets.</p>
    <p>Let us tackle the maths and break it down it for you</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Easily see how your income compares to your expected income">Quickly see confirmed and pending income</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Record your major event costs (e.g. Site Fee or Insurance) and it will automatically calculate your event profit & loss">Record your critical event costs</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="PayPal always take's its cut, but how much of your event is taken by it? We've worked it out for you and can be seen quickly by managing your event.">Easily view charges for player bookings via PayPal</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Working out your breakeven points is difficult, by giving us your event costs we can work it out for you!">Visual displays of breakeven points</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="We all hope our event will sell out, so we show you exactly how much income you will have after your costs">See projected income on a fully booked event</li>
    </ul>
  </div>
  <div id="event-logistics" class="col text-center px-5">
    <div class="fs-2 text-center mb-3">
      Event Logistics
    </div>
    <p>Getting bookings for your event is only the first step! Now you need a small library of paperwork to make your event function!</p>
    <p>We've hit the books already, so some of these should help you out.</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="It's a simple thing, but keeping track of who is at your event can get the better of us all! Featuring sign in and sign out options foreach day of your event, our sheet hopes to keep it simple">Sign-In sheets for your event</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Whilst this feature is still growing, you can scan your players tickets to confirm they are valid for your event. We hope to build this into a sign in system in the future.">Ticket scanning (if your venue has an internet connection!)</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Keeping track of your attendee's catering choices often requires outside services. We've included it as standard!">Catering choices and reporting</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="If you're handling your catering directly, you'll need to be able to pass this info to your caterer. A covered confidential report keeps your players information safe from prying eyes">Confidential Dietary / Allergy PDF reports</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Some players may have emergency medical needs, and in an emergency you need them easily to hand. A covered confidential report keeps your players information safe from prying eyes">Confidential First Aid / Medical PDF reports</li>
    </ul>
  </div>
</div>
<hr class="text-muted">
<div class="row py-4 mt-3">
  <div id="users" class="col text-center px-5">
    <div class="fs-2 text-center mb-3">
      User Benefits
    </div>
    <p>This is all about the players, so we need to make it as easy as possible for them to get to your event.</p>
    <p>This is how we are making that happen</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Registering by using their existing logins makes your players lives easier. We're always looking at other integrations to improve this further">Users can register by E-mail, Google, or Facebook Accounts</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Updating their details in one place, means they can make the change for all the systems that use us at once">Easily manage and update their own details</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Rather than chasing through e-mails for event bookings, we provide one place to check and review their event bookings">View all their event bookings on one page</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Sometimes you only want to go to an event if your friend is going to. We give that choice to each player to decide if they want to share that they are attending">Choose if they want to display their attendance to your event</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="If they want to buy a ticket for someone else, they can! Tickets can be transferred to other users with ease (but only if an event hasn't sold out!)">Gift an event booking to another user</li>
    </ul>
  </div>
  <div id="your-system" class="col text-center px-5">
    <div class="fs-2 text-center mb-3">
      Your Event System
    </div>
    <p>You've spent a long time creating your game. How do you use a third party like us and still retain your own identity?</p>
    <p>How about we give you your own space</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="This gives you your own space to link your players to that will only display your events.">Dedicated page for each event system, showing only your events</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="We allow an Event System to have multiple hosts, maybe you have nations/clans/other that can host events in your world">Add your own event system, event host, and event logos</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Whatever terms you have for people attending your events, it's important that they can be seen and agreed to before booking. We give you that option">Require your own terms & conditions for attending your events</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="We require a character name to book any event, but do you track a player id? Maybe you want to know their characters homeland? These are options you can control - as well as if that information is required to book">Set player and character information that is unique to your system</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Managing an event is often too much work for one person, so we provide the option to let other people manage your events. And you can control it!">Control your own system admins and who can create your events</li>
    </ul>
  </div>
</div>
<hr class="text-muted">
<div class="row py-4 mt-3">
    <div id="event-tools" class="col text-center px-5">
        <div class="fs-2 text-center mb-3">
          Event Tools
        </div>
        <p>Putting together event packs, planning encounters, statting your monsters, it can all become a formatting nightmare</p>
        <p>We've crunched the numbers, and planned the document.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="We make it possible to create and timetable your encounters, as well as generate that into an easily readable document.">Encounter timetabling <small class="text-danger">Coming Soon!</small></li>
          <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="We all need a good old fashioned Monster Manual. We make it simple to update your systems monsters and generate a manual of their stats.">Manage your own Monster Manual <small class="text-danger">Coming Soon!</small></li>
          <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Do you need an event pack telling your players what to expect? Maybe they need directions or gate codes to your venue? We've taken care of it, and will even send it to your players">Event Pack PDF generation and automatic e-mailing</li>
          <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="We've skipped the nightmare of designing and laying out a character card. A basic template gives you a quick and easy way to track your attendees characters.">Character Card printing <small class="text-danger">Coming Soon!</small></li>
          <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Many systems use laminated cards as a way of tracking magical/special items. We've included that template and library for each of your events">"Lammie" Printing <small class="text-danger">Coming Soon!</small></li>
        </ul>
      </div>
  <div id="downsides" class="col text-center px-5">
    <div class="fs-2 text-center mb-3">
      Whats The Catch?
    </div>
    <p>Life has taught us all that there is no such thing as a free meal, so of course you want to know what the downsides are.</p>
    <p>There are a few, see what you think</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Whilst we would love to keep this free, there is a small cost to running the website. We do not aim to make a profit and are always reviewing this price">Booking events with us has a one off <%= currencyOutput(config.hostingCharge) %> fee per event</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="Securely taking payments requires a payment provider. We are looking to include others, but for now PayPal is the most widespread and accessible">Payments are processed by PayPal, some love it, some hate it</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="This is both a pro and a con. We hope that growing the community is a boon to every one">A shared platform means more visibility, and more competition</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="This is one we wont move on. Modern web browsers are essential to keeping your players, and your own, data secure">We require modern web browsers, this may affect older computers</li>
      <li class="list-group-item" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="We have tried to make every option as generic as possible, or as variable as possible. However there is no guarantee it will fit your needs. If we are able we will to try to adjust the system to fit everyone, but occasionally that may not be possible.">One size doesn't always fit all</li>
    </ul>
  </div>
</div>


<div class=" d-none card shadow  py-3 px-3 mb-3">
  <div class="card-header bg-white mb-3">
    <h4>About Our Event Organisers</h4>
  </div>
  <div class="card-body">
    <div class="card-body">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>By Live Role Players, For Live Role Players</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="Source Title">Almost Every LRP Organiser</cite>
        </figcaption>
      </figure>
      <div class="mb-3">
        <p>There is no denying that the root of Live Role Play is as a community hobby. Most trace back to university and gaming groups that wanted to branch away from the traditional table top gaming.</p>
        <p>In recent years that ideal has shifted slightly and now a large number of highly successful commercial event organisers make it difficult (not deliberately) for smaller systems to compete. So we wanted to bring back that age old mantra used by so many; <i>"By Live Role Players, For Live Role Players"</i></p>
        <p>One of the largest hurdles faced by LRP Event Organisers is the logistics of getting attendees to their events, whilst ensuring that all the necessary protections to their privacy can be met. To solve this problem, we have created something tailor made to LRP Event Organisers. Giving access to only the data required for their event, as well as streamlining the booking and payment process.</p>
      </div>
      <hr>
      <div class="row mb-3">
        <div class="col-md-6 mt-3">
          <h5>What features exist for Event Organisers?</h5>
          <p>As a brief overview, an Event Organiser can register their Event System (they may also register individaul hosts - such as a particular nation may be hosting the event), and create their events to be advertised and booked on the system. Here we will go into the details.</p>
          <ul>
            <li>Advertise your event with no commitment to use the booking features</li>
            <li>Varying Admin rights, allowing you to control which users can create events for your system or individual hosts</li>
            <li>Allow event bookings with varying prices depending on date boundaries (e.g. early booking)</li>
            <li><em>Or,</em> allow bookings from an external website</li>
            <li>Optionally allow automatic bookings of meal tickets and bunks</li>
            <li>Creation of manual bookings to consolidate your booking information into one place</li>
            <li>Financial reports: adding key information about your event allows you to see breakeven points at a glance</li>
            <li>Streamlined payment through PayPal</li>
            <li>Seperate PDF Event Reports: for your event attendees, medical notes, and dietary notes.</li>
            <li>Automated PDF Event Pack generation and e-mail</li>
            <li>Bulk e-mail features to securely contact your event attendees</li>
            <li>Option for recording character and player details, or even adding character progression*</li>
            <li>All data stored and processed within the United Kingdom, complying with GDPR regulations.</li>
          </ul>
          <small>*Some features may require additional work which we may have to charge for depending on how translatable they are to other event systems.</small>
        </div>
        <div class="col-md-6 mt-3">
          <h5>How do I register as an Event Organiser?</h5>
          <p>For now, to sign up as an Event Organiser is a manual process. We do hope to make this an automated process in the future to make event organisation even easier for new organisers.</p>
          <p>Please <a href="mailto:<%= config.techContactEmail %>?subject=Event System Registration&body=Hi, I would like to add my Event System to the booking website!">E-Mail <%= config.techContactName %></a> to express your interest.</p>
          <br>
          <h5>How much does it cost?</h5>
          <% if (config.hostingCharge == 0) { %>
          <p><b>Nothing!</b> Whilst we work out the finanical implications for running and hosting this, there is no charge to run your event through us!</p>
          <% } else { %>
          <p>A one-off fee per event of <b><%= currencyOutput(config.hostingCharge) %></b>.<br>This fee is to cover the hosting and e-mail costs of running the website. We do not take a slice from each individual booking. We are operating strictly as Not-For-Profit.</p>
          <% } %>
          <br>
          <h5>What are the downsides?</h5>
          <p>This is an obvious concern. If you're going to use this system, what are the potential risks to your system?</p>
          <p><b>PayPal</b> is a double edged sword. It's convenient and friendly to use, it does however charge for transactions. Some organisers encourage their attendees to pay via <em>"Friends and Family"</em> however this removes any buyer protection for the attendee. As such, we've decided this is the safest solution all round, despite the costs.</p>
          <p><b>A Shared Space</b> again has its pro's and con's. Whilst giving you increased exposure to new audiences, it also mean's your events may face new competition from other events. It is our sincere hope that overall this proves to be beneficial for the hobby.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  }, false)
</script>