<% layout('layouts/boilerplate') %>
    <div class="card shadow  py-3 px-3 mb-3">
        <div class="card-header bg-white mb-3">
            <h4>About Our Event Organisers</h4>
        </div>
        <div class="card-body">
            <div class="card-body">
                <figure class="text-center">
                    <blockquote class="blockquote">
                      <p>By Live Role Players, For Live Role Players</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      <cite title="Source Title">Almost Every LRP Organiser</cite>
                    </figcaption>
                  </figure>
                  <div class="mb-3">
                    <p>There is no denying that the root of Live Role Play is as a community hobby. Most trace back to university and gaming groups that wanted to branch away from the traditional table top gaming.</p>
                    <p>In recent years that ideal has shifted slightly and now a large number of highly successful commercial event organisers make it difficult (not deliberately) for smaller systems to compete. So we wanted to bring back that age old mantra used by so many; <i>"By Live Role Players, For Live Role Players"</i></p>
                    <p>One of the largest hurdles faced by LRP Event Organisers is the logistics of getting attendees to their events, whilst ensuring that all the necessary protections to their privacy can be met. To solve this problem, we have created something tailor made to LRP Event Organisers. Giving access to only the data required for their event, as well as streamlining the booking and payment process.</p>
                </div>
                <hr>
                <div class="row mb-3">
                    <div class="col-md-6 mt-3">
                        <h5>What features exist for Event Organisers?</h5>
                        <p>As a brief overview, an Event Organiser can register their Event System (they may also register individaul hosts - such as a particular nation may be hosting the event), and create their events to be advertised and booked on the system. Here we will go into the details.</p>
                        <ul>
                            <li>Varying Admin rights, allowing you to control which users can create events for your system or individual hosts</li>
                            <li>Advertise your event with no commitment to use the booking features</li>
                            <li>Allow event bookings with varying prices depending on date boundaries (e.g. early booking)</li>
                            <li>Allow automatic bookings of meal tickets and bunks</li>
                            <li>Creation of manual bookings to consolidate your booking information into one place</li>
                            <li>Financial reports: adding key information about your event allows you to see breakeven points at a glance</li>
                            <li>Streamlined payment through PayPal</li>
                            <li>Seperate PDF Event Reports: for your event attendees, medical notes, and dietary notes.</li>
                            <li>Option for recording character details, or even adding character progression*</li>
                        </ul>
                    </div>
                    <div class="col-md-6 mt-3">
                        <h5>How do I register as an Event Organiser?</h5>
                        <p>We haven't entirely designed this part yet. The current aim is to run this system as donation only with no required costs to event organisers, but time will tell if that is financially viable. We hope so, as the aim is to keep this as community based.</p>
                        <p>Whilst we work out the financial implications and setup automatic registration we would still love to have your event system involed!</p>
                        <p>Please <a href="mailto:<%= config.techContactEmail %>?subject=Event System Registration&body=Hi, I would like to add my Event System to the booking website!">E-Mail <%= config.techContactName %></a> to express your interest.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>